$color-primary-3: #0d1b2a;
$color-primary-2: #3c7dc3;
$color-primary-1: #f8f9fa;

$color-gray-3: #343a40;
$color-gray-2: #6c757d;
$color-gray-1: #e9ecef;

$color-white: #ffffff;
$color-black: #000000;

$color-green: #33b898;
$color-red: #ff4d6d;
